body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}
header {
    background-image: url('./images/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-line {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    margin-right: 25px;
    transition: color 0.5s;
}

.nav-item:hover {
    color: red;
}

.cart {
    position: relative;
    border-right:  1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 20px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s;
}

.num:hover {
    color: red;
}

.phone-text {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #ff7400;
    text-decoration: none;
    padding: 14px 19px;

    transition: background-color 0.3s;
}

.button:hover {
    background-color: #87420a;
}